<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="BMP Automation Suite" parallel="tests" thread-count="2">

    <!-- ============================= -->
    <!-- LISTENERS -->
    <!-- ============================= -->
    <listeners>
        <listener class-name="com.bmp.automation.listeners.TestListeners"/>
    </listeners>

    <!-- ============================= -->
    <!-- TEST 1 - CHROME -->
    <!-- ============================= -->
    <test name="Chrome Tests">

        <!-- Browser Parameter -->
        <parameter name="browser" value="chrome"/>

        <classes>
            <class name="com.bmp.automation.tests.LoginTest"/>
            <class name="com.bmp.automation.tests.SendParcelTest"/>
        </classes>

    </test>

    <!-- ============================= -->
    <!-- TEST 2 - (Future: Firefox) -->
    <!-- ============================= -->
    <!--
    <test name="Firefox Tests">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="com.bmp.automation.tests.SignupTest"/>
        </classes>
    </test>
    -->

</suite>